<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="ion-color-light"
                             defaultHref="/"
                             text=""
                             color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
        <app-hamburguesa slot="end"></app-hamburguesa>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()" [formGroup]="usuarioForm">
        <ion-grid class="ion-padding">
            <ion-row>
                <ion-col size=12>
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">Nick:</ion-label>
                            <ion-input formControlName="username"
                                       type="username"
                                       required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Contraseña:</ion-label>
                            <ion-input formControlName="password"
                                       type="password"
                                       required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Confirmar contraseña:</ion-label>
                            <ion-input
                                formControlName="passwordConfirm"
                                type="password"
                                required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Email:</ion-label>
                            <ion-input type="email" name="email" formControlName="email"
                                       required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Fecha Nacimiento</ion-label>
                            <ion-datetime value="1990-02-19"
                                          placeholder="Seleccione fecha"
                                          formControlName="fec_nac"></ion-datetime>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-button [disabled]="formulario.invalid"
                        type="submit" expand="block" routerLink="/inicio">
                Registrarme!
            </ion-button>

        </ion-grid>
    </form>
</ion-content>

