<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="ion-color-light"
                             defaultHref="/"
                             text=""
                             color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
        <app-hamburguesa slot="end"></app-hamburguesa>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">

        <ion-slides id="avatarId" #avatarId pager="true" [options]="slideOpts">
            <ion-slide>
                <img class="avatar" src="assets/img/profile.jpg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img class="avatar" src="assets/img/profile2.jpg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img class="avatar" src="assets/img/profile3.jpg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img class="avatar" src="assets/img/profile4.jpg" alt=""/>
            </ion-slide>

        </ion-slides>
        <ion-button expand="full" fill="outline" (click)="seleccionarAvatar()">
            Selecciona tu avatar!
        </ion-button>

        <ion-grid class="ion-padding">
            <ion-row>
                <ion-col size=12>
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">Nick:</ion-label>
                            <ion-input type="username"
                                       name="nick" [(ngModel)]="usuario.nick"
                                       required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Contraseña:</ion-label>
                            <ion-input type="password"
                                       name="password" [(ngModel)]="usuario.password"
                                       required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Confirmar contraseña:</ion-label>
                            <ion-input type="password"
                                       name="password2" [(ngModel)]="usuario.password2"
                                       required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Email:</ion-label>
                            <ion-input type="email" name="email" [(ngModel)]="usuario.email"
                                       pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                       required></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-button [disabled]="formulario.invalid"
                        type="submit" expand="block" routerLink="/inicio">
                Registrarme!
            </ion-button>

        </ion-grid>
    </form>
</ion-content>

