ion-card{
  img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  ion-card-content {
    ion-card-title {
      align-items: center;
      text-align: center;
      font-weight: normal;
      font-style: normal;
    }
  }
}
