<ion-header>
<app-header [titulo]="datosPerfil.username"></app-header>
</ion-header>

<ion-content>
    <ion-grid class="ion-padding">
        <form (ngSubmit)="actualizarPreferencias()">
            <div class="input-group">
                <ion-list>
                    <ion-item>
                        <ion-title>Tus preferencias</ion-title>
                    </ion-item>
                    <ion-item>
                        <ion-label>Filtrar contenido adulto</ion-label>
                        <ion-toggle name="filtrarAdulto" [(ngModel)]="filtrarAdulto"></ion-toggle>
                    </ion-item>
                    <ion-item>
                        <ion-label>Auto login</ion-label>
                        <ion-toggle name="autologin" [(ngModel)]="autologin"></ion-toggle>
                    </ion-item>
                    <ion-item>
                        <ion-title>Tus favoritos</ion-title>
                    </ion-item>
                    <ion-item>
                        <ion-col *ngFor="let manga of datosPerfil.favoritos" size="12" size-sm="6" size-md="3" size-lg="2">
                            <app-mangapreview [data]="manga"></app-mangapreview>
                        </ion-col>
                    </ion-item>
                </ion-list>
                <ion-button type="submit" expand="block">Guardar cambios</ion-button>

            </div>
        </form>
    </ion-grid>
</ion-content>
