<ion-header>
    <ion-toolbar>
        <ion-title>Inicio</ion-title>
        <app-hamburguesa slot="end"></app-hamburguesa>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-title>Navegación</ion-title>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let pagina of paginas">
                <app-boton-navegacion [pagina]="pagina"></app-boton-navegacion>
            </ion-col>
        </ion-row>
    </ion-grid>

<!--    Favoritos si el usuario está logueado-->
    <div *ngIf="usuarioAutenticado">
        <ion-item>
            <ion-title >Favoritos de {{auth.usuarioConectado.username}}</ion-title>
        </ion-item>
        <div class="ion-padding">
            <app-manga-display-card nombreCategoria="Favoritos" [mangaItems]="mangaFavoritos"></app-manga-display-card>
        </div>
    </div>

<!--    Mangas aleatorios -->
    <ion-item>
        <ion-title >Aleatorios</ion-title>
    </ion-item>
    <div class="ion-padding">
        <app-manga-display-card nombreCategoria="Aleatorios" [mangaItems]="mangaAleatorios"></app-manga-display-card>
    </div>

</ion-content>




