ion-tab-bar {
  background: var(--ion-color-primary);
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
  background: var(--ion-color-primary);
  color: var(--ion-color-light);
  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: white;
  }
}
