
<ion-tabs class="backgrond">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio-tab">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registro-tab">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="catalogo-tab">
      <ion-icon name="book"></ion-icon>
      <ion-label>Mangas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
